.nft {
  padding: 50px;
  background-color: #8253FF;
}
.nft-img-card {
  max-width: 355px;
  margin: 0 auto;
}

.nft-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.nft-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.nft-verified {
  width: 15px;
}

.nft-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.buy-nft-btn {
  padding: 5px 20px;
  width: 100px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(130.63deg, #9a56ff -8.34%, #5123ff 120.05%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
