.community {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  padding: 50px 50px;
}

.community-text {
  text-align: center;
}

.community-text h1 {
  font-weight: bold;
  color: #ffffff;
}

.community-text p {
  color: #ffffff;
}

.share-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7038ff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 10px auto;
}

.share-icon {
}
