.hdr-main {
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
}

.hdr-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdr-logo {
  width: 100px;
  padding: 10px 50px 10px;
}

.hdr-img {
  width: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}

.hdr-menu-list {
  list-style: none;
  display: flex;
  padding-right: 50px;
}

.list-item {
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hdr-main {
    display: none;
  }
}
